.aboutoverlay-wrapper {
    position: fixed;
    inset: 0;
    z-index: 500;
    /* background-color: var(--backgroundColor); */
    display: none;
    align-items: center;
    /* justify-content: center; */
    transition: all 250ms ease-in-out;
    flex-direction: column-reverse;
}

.aboutoverlay-container {
    background-color: var(--dropDownBackgroundColor);
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    color: var(--deepTextColor);

}

.aboutoverlay-close-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding-right: 10px;
    padding-top: 10px;
    
}

.aboutoverlay-close-wrapper button {
    font-size: 18px;
    border: none;
    outline: none;
    color: var(--deepTextColor);
    height: 40px;
    width: 40px;
    background-color: var(--dropDownBackgroundColor);
    border-radius: 50%;
    box-shadow: var(--wideBoxShadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .overlay-close-container svg path {
    stroke: var(--textColorDark);
} */

.aboutoverlay-close-wrapper button:active {
    opacity: 0.6;
}

.aboutoverlay-brand-logo {
    height: 70px;
    border-bottom: 1px solid var(--thinBorderColor);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 20px;
}

.aboutovelay-brand-logo-circle {
    /* border: 1px solid var(--thinBorderColor); */
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.aboutoverlay-brand-story {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    /* padding: 10px; */
}

.aboutoverlay-brand-story::-webkit-scrollbar {
    display: none;
}

.aboutoverlay-brand-story .about {
    color: var(--deepTextColor);
    /* text-align: center; */
    text-align: justify;
padding-left: 30px;
    padding-right: 30px;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 30px;
}

.aboutoverlay-brand-story .privacy {
    color: var(--deepTextColor);
    /* text-align: center; */
    padding: 10px;
    white-space: pre-wrap;
    font-size: 14px;
    line-height: 30px;
}

.aboutoverlay-brand-story-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
    height: 60px;
    color: var(--deepTextColor);
    text-decoration: underline;
}

.aboutoverlay-brand-story-header h3 {
    text-align: center;
}

.aboutoverlay-s-handle-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px;
    height: 60px;
    border-top: 1px solid var(--thinBorderColor);
}

@media (max-width: 900px) {
    .aboutoverlay-container {
     
        width: 100%;
        height: 95%;
        justify-content: center;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
        .aboutoverlay-brand-story .about {
            color: var(--deepTextColor);
            /* text-align: center; */
            text-align: justify;
            padding-left: 15px;
            padding-right: 15px;
            white-space: pre-wrap;
            font-size: 14px;
            line-height: 30px;
        }
}