@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	--animate-duration: 1s;
	--animate-delay: 1s;
	--animate-repeat: 1;
	/* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
	user-select: none;
	font-family: "Montserrat", sans-serif;
	-webkit-tap-highlight-color: transparent;

	--pillSmallBorderRadius: 20px;
	--pillBigBorderRadius: 40px;
	--minborderRadius: 6px;
	--bigBorderRadius: 10px;
	--textColorDark: #0a142f;
	--textColorLight: #fbffd1;
	--textColorLight2: #c3c3c2;
	--textColorLight3: #ffffff;

	--thinBorderBlack: rgb(192, 192, 192);
	--wideBoxShadow: 4px 4px 20px 2px rgb(190, 192, 193);
}
body {
	background: white;

}