@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    user-select: none;
    font-family: "Montserrat", sans-serif;
    -webkit-tap-highlight-color: transparent;
        /* transition: all 200ms ease-in; */



    /* outline: 1px solid red; */

    --whiteColor: #e3e7e0;

    --firstBrandColor: #4B6050;
    --secondBrandColor: #c09118;
    --darkersecondBrandColor: #5E4812;

    --minborderRadius: 6px;
    --bigBorderRadius: 20px;
    --roundBorderRadius: 50%;

    --grey: #2e302e;
}

body,html{
    background-color: var(--backgroundColor);
}

.light {

    --deepTextColor: #262d27;

    --faintTextColor: #5c5c51;
    --firstbrandColTextColor: #4B6050;



    --iconCircle: #ffffff;
    --servBackgroundColor: hsla(0, 0%, 100%, 0.82);
    --backgroundColor: white;
    --SecondBackgroundColor: rgb(255, 255, 255);
    --transparentBackgroundColor: rgba(255, 255, 255, 0.86);
    --deepbackground: #F0F4F2;
    --dropDownBackgroundColor: rgba(241, 239, 231, 0.951);


    --thinBorderColor: rgb(192, 192, 192);
    --tagBoxShadow1: 0px 0px 45px 6px rgba(190, 181, 147, 0.28);
    --tagBoxShadow2: 0px 4px 218px #86B974;
    --tagBoxShadow3: 0px 0px 45px 6px rgba(190, 181, 147, 0.28);

    --wideBoxShadow: 4px 4px 20px 2px rgb(190, 192, 193);
    --CardBoxShadow: 0 1px 4px -2px rgb(119, 128, 119),
        inset 0 1px 0 rgba(210, 228, 207, 0.838);
    --imageFilter: '';
    --navhover: #e7e7e7;

}

.dark {
    --deepTextColor: #e3e7e0;

    --faintTextColor: #5c5c51;
    --firstBrandColTextColor: #e3e7e0;



    --iconCircle: #2e302e;
    --servBackgroundColor: hsla(0, 0%, 0%, 0.82);
    --backgroundColor: rgb(0, 0, 0);
    --SecondBackgroundColor: rgb(19, 19, 18);
    --deepbackground: #14130D;
    --transparentBackgroundColor: rgba(0, 0, 0, 0.94);
    --dropDownBackgroundColor: rgba(22, 23, 19, 0.993);


    --thinBorderColor: rgb(44, 47, 44);
    --tagBoxShadow1: 0px 0px 45px 6px rgba(190, 181, 147, 0);
    --tagBoxShadow2: 0px 4px 218px #86b97400;
    --tagBoxShadow3: 0px 0px 45px 6px rgba(190, 181, 147, 0);
    --wideBoxShadow: 4px 4px 20px 2px rgb(9, 9, 9);
    --CardBoxShadow: 0 1px 4px -2px rgb(0, 0, 0),
        inset 0 1px 0 rgba(28, 30, 27, 0.838);

    --imageFilter: saturate(0.3) brightness(0.5);

    --navhover: #eeeeee2c;
    /* outline: 1px solid red; */
}

body {
    background: white;

}


/* Animations */

.promptShowAnimate {
    display: flex !important;
}

.promptHideAnimate {
    display: none;
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
}

.animate_slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;

    -webkit-animation-duration: calc(var(--animate-duration) * 0.5);
    animation-duration: calc(var(--animate-duration) * 0.5);
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        opacity: 0.5;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
}

.slideOutDown {
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideOutDown {
    -webkit-animation-name: slideOutDown;
    animation-name: slideOutDown;
}

@-webkit-keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.animate__backInUp {
    -webkit-animation-name: backInUp;
    animation-name: backInUp;
    -webkit-animation-duration: calc(1s * 2);
    animation-duration: calc(1s * 2);
    -webkit-animation-duration: calc(var(--animate-duration) * 2);
    animation-duration: calc(var(--animate-duration) * 2);
}

@keyframes backInUp {
    0% {
        -webkit-transform: translateY(1200px) scale(0.7);
        transform: translateY(1200px) scale(0.7);
        opacity: 0.7;
    }

    80% {
        -webkit-transform: translateY(0) scale(0.7);
        transform: translateY(0) scale(0.7);
        opacity: 0.7;
    }

    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@-webkit-keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;

    -webkit-animation-duration: calc(1s * 2);
    animation-duration: calc(1s * 2);
    -webkit-animation-duration: calc(var(--animate-duration) * 2);
    animation-duration: calc(var(--animate-duration) * 2);
}

.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.animate__slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;

    -webkit-animation-duration: calc(1s * 2);
    animation-duration: calc(1s * 2);
    -webkit-animation-duration: calc(var(--animate-duration) * 2);
    animation-duration: calc(var(--animate-duration) * 2);
}

.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}

@keyframes slideOutRight {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

.animate__slideOutRight {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
}

.slideOutRight {
    -webkit-animation-name: slideOutRight;
    animation-name: slideOutRight;
}

@keyframes mymove {
    0% {
        transform: translate(0, -5px) rotate(32deg);
    }

    100% {
        transform: translate(0, 7px) rotate(32deg);
    }
}

@keyframes mymove2 {
    0% {
        transform: translate(0, -6px);
    }

    100% {
        transform: translate(0, 5px);
    }
}



@keyframes myswing {
    0% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(-185deg);
    }
}

@keyframes myspin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}